.navbar {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
li {
  padding: 20px;
  margin: 30px;
  width: 300px;
  height: 100px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(39, 16, 92);
  border-radius: 10px;
}
a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: rgb(200, 200, 200);
}
a:hover {
  color: rgb(250, 250, 250);
  font-weight: bold;
}
.username {
  font-size: 22px;
}
